* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.parent {
  width: 25em;
  height: 25em;
  margin: auto;
  text-align: center;
}

img {
  position: relative;
  top: 30px;
  z-index: 2;
}

.card {
  background: white;
  margin: auto;
  text-align: center;
  padding: 10%;
  border-radius: 2%;
  box-shadow: 0px 0px 8px 0px #bababa;
  position: relative;
}

.card div {
  margin: 10px;
}

.name {
  font-family: sans-serif;
  font-size: 25px;
  color: #3b74ba;
  font-weight: bolder;
}

.occ {
  font-family: sans-serif;
  color: #bababa;
}

.occ ~ div {
  background: #eee;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

span {
  position: absolute;
  right: 1%;
}

hr {
  color: #bababa;
  opacity: 0.3;
}

.card::after {
  content: "A+";
  color: white;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 10%;
  background-color: #3b74ba;
  position: absolute;
  right: 10px;
  bottom: -14.2px;
}
